.button {
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.blue_button {
  background-color: darkblue;
}

.red_button {
  background-color: red;
}

.wide_button {
  width: 125px;
}

.button_corners {border-radius: 8px;}